@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body, .main {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.background-shape {
    background-color: #1993b0;
    position: absolute;
    height: 2000px;
    width: 100%;
    top: -1700px;
    transform: skewY(-20deg);
    z-index: -1;
}


/* About section */

.about-section {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-flow: column;
}


.about-photo-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.about-photo {
    float: left;
    object-fit: cover;
    width: 230px;
    height: 240px;
}
.photo-caption {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: default;

}

.about-header {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
}

.about-content-container {
    max-width: 295px;
    padding: 1rem;
}

.about-content {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: rgba(0, 0, 0, .6);
}

.about-links-container {
    text-align: center;
}

.about-link {
    margin: .5rem;
    font-size: 2.8rem;
    text-decoration: none;
    color: #000;
}

.about-spacer {
    display: none;
}

/* Tablet media queries */

@media (min-width: 600px) {
    .about-photo-container {
        position: absolute;
        left: -120px;
        top: -30px;
        z-index: 2;

    }

    .about-photo {
        min-width: 340px;
        min-height: 370px;

    }

    .photo-caption {
    top: -5px;
    left: 320px;
    white-space: nowrap;
    font-weight: lighter;
    }

    .about-section {
        max-width: 495px;
        margin-top: 4rem;
    }

    .about-spacer {
    display: block;
    width: 245px;
    height: 270px;
    float: left;
    
    }

    .about-content {
        font-size: 1.1rem;
        
    }

    .about-content-container {
        min-height: 300px;
        padding: 2rem;
        background: #fff;
        min-width: 570px;
        box-shadow: 0px 3px 6px #00000053;
        margin-top: 2rem;
      
    }

    .background-shape {
        transform: skewY(-14deg);
    }
}

/*  */

/* Desktop media queries */


@media (min-width: 1281px) {
    .background-shape {
        transform: skewY(-16deg);
        height: 2200px;
    }

    .about-spacer {
        display: none;
    }

    .about-photo-container{
        position: relative;
        left: 0;
        top: 0;
    }

    .photo-caption {
        top: 500px;
        left: 35px;
        font-size: 3.5rem;
       
        }

    .about-photo {
        min-width: 420px;
        min-height: 580px;
        float: left;
        object-fit: cover;
    }

    .about-section {
        max-width: 827px;
        display: flex;
        align-items: center;
        flex-flow: row;
    }

    .about-links-container {
        display: flex;
        justify-content: flex-end;
    }

    .about-link {
        font-size: 1.8rem;
        margin-left: .4em;
 
    }

    .about-header {
        text-align: left;
        margin-left: 15px;
    }

    .about-content {
        padding: 1em;
        text-align: left;
    }

}
  


/*  */


